<div class="container mt-5 bg-light">
    <div class="row text-center">
    
        <form [formGroup]="Loginform" (submit)="LogIn($event)" >
            <div class="row">
                <div class="col-10 offset-1 mb-3">
                    
                        <div class="mb-3">
                          <label for="name" class="form-label fw-bold fs-3 text-primary">Email</label>
                          <input formControlName="email" type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                          <ng-container *ngIf="getEmail.touched ">
                            <div *ngIf="getEmail.hasError('required')" class="alert alert-danger mt-2" id="errorName">
                                Email is required
                            </div>
                        </ng-container>
                        </div>

                        <div class="mb-3">
                            <label for="Address" class="form-label text-primary fw-bold fs-3">Password</label>
                            <input formControlName="Password" type="password" class="form-control" name="Password" id="Password">
                            <ng-container *ngIf="getPassword.touched ">
                              <div *ngIf="getPassword.hasError('required')" class="alert alert-danger mt-2" id="errorName">
                                Password is required
                              </div>
                          </ng-container>
                          </div>

                       
                </div>
            
                <div class="col-12">
                    <button type="submit" (click)="login()" class="btn fs-3 btn-primary m-5">Sign In</button>
                    <button type="submit" class="btn btn-outline-warning m-5">Edit</button> 

                    <button type="submit" class="btn btn-outline-danger m-5">Delete</button>
                 </div>      


            </div>
                
        </form>
        </div>
</div> 
