.Mo{
   
 
    width: 75%;

}
section{   background-color: beige; }

.head{color: #A76F6F;
text-align: center !important;}
.subhead{color: #A8A196;} 

label{color: #7D7463;}

.dd{
background-color: #D8C4B6;
padding-top: 25px;
}

.ss{

    background-color: #F5EFE7;
    padding-top: 25px;}

